*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.navigation{
    height: 70px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    margin: 30px;
    font-size: 30px;
    font-weight: 900;
    color:#185DC7;
}

.navlist li a{
    color: black;
}

.buttons-items{
    /* background-color: red; */
    padding: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login{
    color: black;
}

.started{
    background-color: #185DC7;
    padding: 10px;
    border-radius: 100px;
    color: white;
}

.container{
    /* background-color: red; */
    height:auto;
    padding:50px 50px;
}

.myboxes{
    display: flex;
    justify-content: center;
}

.flex-container{
    display: flex;
    justify-content: center;
}



.flex-items{
    display: flex;
    justify-content: start;
    align-items: center;
}

.box1{
    width: 50%;
}

.box2{
    width:50%;
    /* background-color: blue; */
    height:auto;
    width:auto;
}

.box2 img{
    height: 300px;
    clip-path: circle();
    /* background-color: #185DC7; */
}

.heading-text{
    width:auto;
    height: auto;
    /* background-color: red; */
}

.heading-text h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.description{
    width: fit-content;
    height: auto;
    /* background-color: red; */
}

.description p{
    margin-bottom: 20px;
    font-size: 20px;
    
}

.flex-container{
    /* background-color: #185DC7; */
    margin-top: 100px;
}

.card1 p{
    margin-bottom: 30px;
    margin-top: 20px;
    width: fit-content;
}

.LearnMore{
    background-color: white;
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}



.w-50{
    height: 400px;
}

.card-container{
    display: flex;
    justify-content: center;
    background-color: red;
}

.card1{
    width: 50%;
    /* background-color: tomato; */
    height:auto;
}

.card2{
    /* background-color: blueviolet; */
    width:fit-content;
}

.card2 img{
    height: 300px;
}

.space-right{
    margin-right: 100px;
}




@media screen and (max-width: 755px) {
    .navigation{
        flex-direction: column;
        display: none;
        position: absolute;
        background-color:#185DC7;
        width: 100%;
        left: 0;
        right: 0;
        height: 500px;
    }

    .navlist{
        flex-direction: column;
    }
    .buttons-items{
        width: 100%;
    }

    .started{
        background-color: white;
        color: black;
    }

    .logo{
        color:white;
        font-size: 100px;
    }
    .myboxes{
        flex-direction: column;
    }

    .box1{
        width: 100%;
        /* background-color: red; */
    }

    .box2{
        width: 100%;
        /* display: none; */
        display: flex;
        justify-content: center;
    }

    .box2 img{
        clip-path: none;
        margin-top: 20px;
        display: none;
    }

    .heading-text h1{
        font-size: 30px;
    }

    .flex-container{
        flex-direction: column;
    }
    .card1{
        width: 100%;
        height:auto;
    }

    .card2{
        width: 100%;
        margin-top: 40px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .card2 img{
        display: none;
    }

    .container{
        padding: 10px;
    }
}
